<h2 class="pull-left">Jobs</h2>

<header class="header">
  <nav role="navigation">
    <ul class="nav nav-pills pull-right">
      <li><%= link("Import new file", to: city_import_path(Endpoint, :new), class: "pull-right") %></li>
    </ul>
  </nav>
</header>

<br clear="all">

<table class="table" id="jobs-table">
</table>
