<table id="jobs-table">
  <%= for job <- @jobs do %>
    <tr class="job-<%= job[:id] %>">
      <td><%= job[:id] %></td>
      <td><%= job[:filename] %></td>
      <td class="ok"><%= job[:ok] %></td>
      <td class="error"><%= job[:error] %></td>
    <tr>
  <% end %>
</table>
